pyyaml
httpx
uvicorn[standard]
fastapi
tiktoken
azure-identity
azure-monitor-ingestion
azure-monitor-opentelemetry==1.0.0
opentelemetry-instrumentation-fastapi==0.41b0
opentelemetry-instrumentation-httpx==0.41b0
opentelemetry-instrumentation-requests==0.41b0
