# local .terraform directories
**/.terraform/*

# exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# .tfstate files
*.tfstate
*.tfstate.*

# crash log files
crash.log
crash.*.log

# override files as they are usually used to override resources locally and so are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# configuration files
.terraformrc
terraform.rc

# lock file
.terraform.lock.hcl
